{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}

<section id="about-us" class="bg-dark">
  <div class="linear-block-2 h-100 d-flex align-items-center pb-5">
    <div class="container d-flex flex-column">
        <h3 class="text-center text-light mb-5">О компании</h3>
        <div class="row">
          {% for item in about_us_in_numbers %}
          <div class="col-12 col-md d-flex justify-content-md-between align-items-center flex-md-column">
            <div class="num-circle rounded-circle mb-3 d-flex justify-content-center align-items-center">
              {{ item.number }}
            </div>
            <div class="about-us-text">
              <h6 class="text-center text-light">{{ item.title }}</h6>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      {% if certificates.count > 4 %}
      <div class="owl-carousel owl-theme gallery-image-list px-5" id="slider_logo">
        {% for cert_item in certificates %}
          <a href="{{ cert_item.cover|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery">
            <img style="height:auto;" src="{{ cert_item.cover.url }}" class="mw-100 cert-photo" alt="{{ cert_item.image.original_filename }}">
          </a>
        {% endfor %}
      </div>
      {% else %}
      <div class="gallery-image-list d-none d-md-block px-5">
        <div class="row">
          {% for cert_item in certificates %}
          <div class="col">
            <a href="{{ cert_item.cover|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery">
              <img style="height:auto;" src="{{ cert_item.cover.url }}" class="mw-100 cert-photo" alt="{{ cert_item.image.original_filename }}">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="owl-carousel owl-theme gallery-image-list px-5 d-block d-md-none" id="slider_logo">
        {% for cert_item in certificates %}
          <a href="{{ cert_item.cover|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery">
            <img style="height:auto;" src="{{ cert_item.cover.url }}" class="mw-100 cert-photo" alt="{{ cert_item.image.original_filename }}">
          </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</section>


<section id="about-us" class="bg-solid pb-5">
  <div class="container py-5">
    <div class="row">
      <h3 class="text-center mb-5">Услуги</h3>
      <div class="owl-carousel owl-theme gallery-image-list px-5" id="services">
        {% for item in services %}
        <div class="row">
          <div class="col-lg-6 d-flex justify-content-center align-items-center pb-4">
            <img src="{{ item.good_image.url }}" class="w-75 service-photo" alt="{{ item.good_image.original_filename }}">
          </div>
          <div class="col-lg-6 mt-3 mt-lg-1">
            <h2>{{ item.title }}</h2>
            {{ item.description|safe }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<div class="shadow-block overflow-hidden position-relative">
  <section id="rent" class="mb-0">
    <div class="container py-5">
      <div class="row">
        <h3 class="text-center text-light mb-5">Аренда спецтехники</h3>
        <div class="">

          <div class="row nav nav-tabs d-flex flex-row border-bottom-0 mb-2" id="nav-tab" role="tablist">
            {% for category in goods_category_list %}
              <button class="nav-link {% if forloop.first %}active {% endif %} d-flex flex-column align-items-center justify-content-between text-light px-2 w-auto mx-2" id="{{category.id}}-tab" data-bs-toggle="tab" data-bs-target="#categoty_{{category.id}}" type="button" role="tab" aria-controls="categoty_{{category.id}}" aria-selected="true">
                  {{category.title|safe}}
              </button>
            {% endfor %}
          </div>
          <div class="row tab-content" id="nav-tabContent">
            {% for category in goods_category_list %}
              <div class="tab-pane fade {% if forloop.first %}active show {% endif %}p-4" id="categoty_{{category.id}}" role="tabpanel" aria-labelledby="categoty_{{category.id}}-tab">
                {% if category.title_block %}
                <h4 class="fw-bold text-dark mb-4 py-3">{{ category.title_block }}</h4>
                {% endif %}
                <div class="row">
                  {% for good in goods_list %}
                    {% if good.category == category %}
                      <div class="col-lg-3 mb-3">
                        <div class="card h-100">
                          <img class="card-img-top px-4 pt-4" src="{{ good.good_image|thumbnail_url:'news_item_600x300' }}" alt="Card image cap">
                          <div class="card-body px-4 d-flex flex-column justify-content-between">
                            <div class="">
                              <h6 class="card-title fw-bold">{{good.title}}</h6>
                            </div>
                            <div class="">
                              <span>
                                <p class="fw-bold font-15 mb-0">Стоимость за смену</p>
                                <h4 class="fw-bold font-15 text-warning">{{good.price_change|safe}}</h4>
                              </span>
                              <span>
                                <p class="fw-bold font-15 mb-0">Стоимость за час</p>
                                <h4 class="fw-bold font-15 text-warning">{{good.price_hour|safe}}</h4>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>


        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="section pt-5 pb-2 mt-0">
      <div class="container">
        <h3 class="text-center text-light mb-5">Наши проекты</h3>
        <div class="row mb-5">
            {% for galley in project_list %}
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="fh5co-portfolio animate-box gallery-image-list_{{galley.id}} h-100">
                <a href="{{ galley.get_photos.0|thumbnail_url:'portfolio_image' }}" title="{{ galley.get_photos.0 }}"  class="box-shadow-gallery h-100">
                  <div class="portfolio-entry" style="background-image: url({{galley.get_photos.0|thumbnail_url:'news_item_300x300'}});">
                    <div class="desc">
                    </div>
                  </div>
                  <div class="portfolio-text text-center py-3">
                    <h3 class="text-light">{{galley.title}}</h3>
                  </div>
                </a>
                {% for image in galley.get_photos|slice:"1:" %}
                    <a href="{{ image|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery h-100" style="display:none">
                        <img src="{{ image|thumbnail_url:'portfolio_image_thumbnail_lazy' }}" data-original="{{ image|thumbnail_url:'portfolio_image_thumbnail' }}" alt="{{ image }}" class="img-cover lazyload">
                    </a>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
  </section>
  <!-- <img src="{% static 'custom/img/banner.png' %}" alt="logo.svg" class="w-100 position-absolute"> -->
</div>

<section id="contacts" class="section pt-5 pb-2">
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-lg-6 pt-5 px-5 pb-0">
          <div class="contact-form-block py-3">
            <div style="display:none" class="text-center my-5"><i class="fas fa-spinner fa-spin fa-3x"></i></div>
            <form class="contact-form px-5" action="." method="POST">
                <div class="form-floating mb-3">
                    <input type="text" name="name" id="contact-form-forum-name" required placeholder="Имя" class="form-control">
                    <label class="ps-4 font-14" for="contact-form-forum-name">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="phone" id="contact-form-forum-phone" required placeholder="89999999999" class="form-control">
                    <label class="ps-4 font-14" for="contact-form-forum-phone">Телефон</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" name="email" id="contact-form-forum-email" required placeholder="mail@mail.com" class="form-control">
                    <label class="ps-4 font-14" for="contact-form-forum-email">Адрес эл. почты</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea name="message" id="contact-forum-message" required placeholder="Оставьте свое сообщение здесь" class="textarea-shadow form-control" style="height: 150px;"></textarea>
                    <label class="ps-4 font-14" for="contact-forum-message">Сообщение</label>
                </div>
              <input name="theme" type="hidden" value="Сообщение с сайта fence.profograd.ru">
              <p class="text-warning w-75" style="font-size: 12px">*Нажимая на кнопку “Отправить”, вы даёте согласие на обработку Персональных данных</p>
              <button type="submit" name="button" class="btn bg-dark rounded-pill text-warning px-5 py-2 opacity-50 w-50">Отправить</button>
            </form>
            <div class="text-dark"></div>
          </div>

        </div>
        <div class="col-lg-6 px-5">
          <div class="py-3 ps-7r pe-4" id="contact-info-block">
            <h2 class="text-white text-center my-5">Контакты</h2>

            <div class="row my-5">
              <div class="col-2 d-flex justify-content-center align-items-center">
                <span class="text-warning mx-3 h3"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              </div>
              <div class="col-10 d-flex justify-content-start align-items-center">
                <a href="mailto:Dsk.sibir2016@yandex.ru" class="text-white text-decoration-none">Dsk.sibir2016@yandex.ru</a>
              </div>
            </div>

            <div class="row my-5">
              <div class="col-2 d-flex justify-content-center align-items-center">
                <span class="text-warning mx-3 h3"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              </div>
              <div class="col-10 d-flex justify-content-start align-items-center">
                <span class="text-white text-decoration-none">664081, г. Иркутск, ул. Красноказачья, 119, оф. 202</span>
              </div>
            </div>

            <div class="row my-5">
              <div class="col-2 d-flex justify-content-center align-items-center">
                <span class="text-warning mx-3 h3"><i class="fa fa-phone" aria-hidden="true"></i></span>
              </div>
              <div class="col-10">
                <a class="text-white text-decoration-none me-3" href="tel:+79646519756">+7 (964) 651-97-56</a> <br>
                <a class="text-white text-decoration-none" href="tel:+79086609843">+7 (908) 660-98-43</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- <section class="section py-4 py-md-3 bg-secondary">
  <div class="container">
    <div class="section-bottom-menu-div row align-items-center">
          <div class="col-lg-4 d-flex justify-content-start justify-content-lg-center mb-3 mb-md-2 px-5 px-md-1">
            <img class="me-3" src="{% static 'custom/img/icons/icon1.svg' %}">
            <div class="d-flex flex-column">
              <h2 class="fs-6 text-white text-decoration-none mb-2">Цены от производителя</h2>
              <p class="text-white mb-0 font-12">Являемся официальным дилером <br class="d-none d-xl-block"> торговой марки GRAND LINE<sup>&reg;</sup></p>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-start justify-content-lg-center mb-3 mb-md-2 px-5 px-md-1">
            <img class="me-3" src="{% static 'custom/img/icons/icon2.svg' %}">
            <div class="d-flex flex-column">
              <h2 class="fs-6 text-white text-decoration-none mb-2">Товары в наличии </h2>
              <p class="text-white mb-0 font-12">Собственный склад и шоу-рум <br class="d-none d-xl-block"> продукции в Иркутске</p>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-start mb-3 mb-md-2 px-5 px-md-1">
            <img class="me-3" src="{% static 'custom/img/icons/icon3.svg' %}">
            <div class="d-flex flex-column">
              <h2 class="fs-6 text-white text-decoration-none mb-2">12 лет на рынке</h2>
              <p class="text-white mb-0 font-12">Имеем большой опыт, <br> работаем с 2009 года</p>
            </div>
          </div>
    </div>
  </div>
</section> -->


<!-- <section id="goods-block" class="section pt-5">
  <div class="container">
    <h2 class="text-start fw-bold mb-5 mb-md-4 pb-2"><span class="header-block">Каталог</span> продукции</h2>
    <div class="d-none d-lg-block">
      <div class="row nav nav-tabs d-flex flex-row border-bottom-0" id="nav-tab" role="tablist" style="background: #F0F0F0;">
        {% for category in goods_category_list %}
          <button class="col nav-link {% if active_category == category.slug %}active {% endif %} d-flex flex-column align-items-center justify-content-between pt-3" id="{{category.slug}}-tab" data-bs-toggle="tab" data-bs-target="#{{category.slug}}" type="button" role="tab" aria-controls="{{category.slug}}" aria-selected="true">
            {{category.category_icon_text|safe}}
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p class="mb-0 catalog-btn-text">{{category.title|safe}}</p>
            </div>
          </button>
        {% endfor %}
      </div>
      <div class="row tab-content" id="nav-tabContent">
        {% for category in goods_category_list %}
          <div class="tab-pane fade {% if active_category == category.slug %}active show {% endif %}p-4" id="{{category.slug}}" role="tabpanel" aria-labelledby="{{category.slug}}-tab" style="background: #e3ede8;">
            {% if category.title_block %}
            <h4 class="fw-bold text-dark mb-4 py-3">{{ category.title_block }}</h4>
            {% endif %}
            <div class="row">
              {% for good in goods_list %}
                {% if good.category == category %}
                  <div class="col-lg-4 mb-3">
                    <div class="card h-100">
                      <img class="card-img-top px-4 pt-4" src="{{ good.good_image|thumbnail_url:'news_item_600x300' }}" alt="Card image cap">
                      <div class="card-body px-4 d-flex flex-column justify-content-between">
                        <div class="">
                          <h4 class="card-title fw-bold">{{good.title}}</h4>
                          <div class="card-text">{{good.description|safe}}</div>
                        </div>
                        <div class="">
                          <span>
                            <p class="fw-bold font-15 mb-0">цена от</p>
                            <h4 class="fw-bold text-secondary">{{good.price|safe}}</h4>
                          </span>
                          <button class="btn btn-secondary" type="button" name="button" data-bs-toggle="modal" data-bs-target="#calculate_{{good.id}}">Заказать расчет</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="d-block d-lg-none">
      <div class="accordion" id="accordionExample">
        {% for category in goods_category_list  %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading_{{category.slug}}">
              <button class="accordion-button {% if not active_category == category.slug %} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#{{category.slug}}" aria-expanded="true" aria-controls="{{category.slug}}">
                {{category.category_icon_text|safe}}
                {% if category.title_mob %}
                  <span class="ms-4 fw-bold">{{category.title_mob|safe}}</span>
                {% endif %}
              </button>
            </h2>
            <div id="{{category.slug}}" class="accordion-collapse collapse {% if active_category == category.slug %} show {% endif %}" aria-labelledby="heading_{{category.slug}}"  style="background: #e3ede8;">
              <div class="accordion-body">
                <div class="row">
                  {% for good in goods_list %}
                    {% if good.category == category %}
                      <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <img class="card-img-top p-4" src="{{ good.good_image|thumbnail_url:'news_item_600x300' }}" alt="Card image cap">
                          <div class="card-body px-4 d-flex flex-column justify-content-between">
                            <div class="">
                              <h5 class="card-title">{{good.title}}</h5>
                              <div class="card-text">{{good.description|safe}}</div>
                            </div>
                            <div class="">
                              <span>
                                <p class="fw-bold font-15 mb-0">цена от</p>
                                <h4 class="fw-bold text-secondary">{{good.price|safe}}</h4>
                              </span>
                              <button class="btn btn-secondary" type="button" name="button" data-bs-toggle="modal" data-bs-target="#calculate_{{good.id}}">Заказать расчет</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="feedback-block" class="section bg-secondary py-5">
  <div class="container">
    <div class="d-flex align-items-end align-items-md-center mb-3 mb-md-auto">
      <img class="me-md-5 me-3 mb-md-2 mb-0" src="{% static 'custom/img/icons/icon4.svg' %}">
      <h2 class="text-white d-none d-md-block mb-0">Какой забор лучше выбрать? <br>Получите бесплатную консультацию менеджера</h2>
      <h2 class="text-white d-block d-md-none fw-bold mb-0">Какой забор лучше выбрать? <br> <span class="d-none d-md-block">Получите бесплатную консультацию менеджера</span></h2>
    </div>
    <h2 class="text-white mb-0 d-block d-md-none">Получите бесплатную консультацию менеджера</h2>

    <div style="display:none" class="text-center my-5 w-100"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
    <form class="contact-form mt-3">
        <div class="row">
          <input class="fw-bold" type="hidden" name="subject" value="Сообщение с сайта fence.profograd.ru">
          <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" name="name" id="contact-form-name" required placeholder="Ваше имя" class="form-control">
                <label for="contact-form-name">Ваше имя</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" name="phone" id="contact-form-phone" required placeholder="+7 (999) 999 99 99" class="form-control">
                <label for="contact-form-phone">Номер телефона</label>
            </div>
          </div>

          <div class="col-md-4">
            <button type="submit" class="w-100 btn btn-lg btn-light mb-3" style="height:57px;">Оставить заявку</button>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" required>
              <label class="form-check-label text-start text-light" for="exampleCheck1" style="font-size:12px;">Я ознакомился с <a href="/policy" target="_blank" class="link-light">политикой в отношении обработки персональных данных </a> и даю своё согласие на <a href="/policy" target="_blank" class="link-light">обработку  персональных данных.</a></label>
            </div>
          </div>
        </div>
    </form>
    <div class="text-white"></div>
  </div>
</section> -->

<!-- <section id="about-us">
  <div class="linear-block-2 h-100 d-flex align-items-center">
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
              <img src="{% static 'custom/img/about-us-1.jpg' %}" alt="about-us.jpg" class="mw-100">
            </div>
            <div class="col-lg-8 d-flex flex-column align-items-center justify-content-center justify-content-md-start ps-auto ps-md-4">
              {{about_us_block.content|safe}}
            </div>
        </div>
    </div>
  </div>
</section> -->

<!-- <section id="etaps" class="section pt-5 mt-0 bg-light">
  <div class="container">
    <h2 class="text-start fw-bold mb-5 pb-2"><span class="header-block">Этапы работы</span></h2>
      {{etapy_raboty.content|safe}}
  </div>
</section>

<section id="certificates" class="section pt-5 mt-0">
    <div class="container">
      <h2 class="text-start fw-bold mb-5 pb-2"><span class="header-block">Сертификаты</span></h2>
      <div class="row">
        {% if certificates_count > 3 %}
        <div class="owl-carousel owl-theme gallery-image-list px-5" id="slider_logo">
          {% for cert_item in certificates %}
            <a href="{{ cert_item.cover|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery">
              <img style="height:auto;" src="{{ cert_item.cover.url }}" class="mw-100 cert-photo" alt="{{ cert_item.image.original_filename }}">
            </a>
          {% endfor %}
        </div>
        {% else %}
        <div class="gallery-image-list d-none d-md-block px-5">
          <div class="row">
            {% for cert_item in certificates %}
            <div class="col">
              <a href="{{ cert_item.cover|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery">
                <img style="height:auto;" src="{{ cert_item.cover.url }}" class="mw-100 cert-photo" alt="{{ cert_item.image.original_filename }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="owl-carousel owl-theme gallery-image-list px-5 d-block d-md-none" id="slider_logo">
          {% for cert_item in certificates %}
            <a href="{{ cert_item.cover|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery">
              <img style="height:auto;" src="{{ cert_item.cover.url }}" class="mw-100 cert-photo" alt="{{ cert_item.image.original_filename }}">
            </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
</section> -->

<!-- <section id="portfolio" class="section bg-light pt-5 pb-2 mt-0">
    <div class="container">
      <h2 class="text-start fw-bold mb-5 pb-2"><span class="header-block">Наши работы</span></h2>
      <div class="row mb-5">
          {% for galley in gallery_list %}
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="fh5co-portfolio animate-box gallery-image-list_{{galley.id}} h-100">
              <a href="{{ galley.get_photos.0|thumbnail_url:'portfolio_image' }}" title="{{ galley.get_photos.0 }}"  class="box-shadow-gallery h-100">
                <div class="portfolio-entry" style="background-image: url({{galley.get_photos.0|thumbnail_url:'news_item_300x300'}});">
                  <div class="desc">
                  </div>
                </div>
                <div class="portfolio-text text-center py-3">
                  <h3 class="text-success">{{galley.title}}</h3>
                </div>
              </a>
              {% for image in galley.get_photos|slice:"1:" %}
                  <a href="{{ image|thumbnail_url:'portfolio_image' }}" title="{{ image }}" class="box-shadow-gallery h-100" style="display:none">
                      <img src="{{ image|thumbnail_url:'portfolio_image_thumbnail_lazy' }}" data-original="{{ image|thumbnail_url:'portfolio_image_thumbnail' }}" alt="{{ image }}" class="img-cover lazyload">
                  </a>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
</section> -->

<!-- <section id="feedback-block" class="section bg-secondary py-5">
  <div class="container">
    <div class="d-flex align-items-center">
      <img class="me-2 mb-2" src="{% static 'custom/img/icons/icon8.svg' %}">
      <div class="">
        <h2 id="action-text" class="text-white mb-0">Оставьте заявку и получите скидку 10%!</h2>
      </div>
    </div>
    <div style="display:none" class="text-center my-5 w-100"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
    <form class="contact-form mt-3" action="." method="POST">
        <div class="row">
          <input id="action_input" type="hidden" name="theme" value="Оставьте заявку и получите скидку 10%!">
          <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" name="name" id="contact-form-name" required placeholder="Ваше имя" class="form-control">
                <label for="contact-form-name">Ваше имя</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" name="phone" id="contact-form-phone" required placeholder="+7 (999) 999 99 99" class="form-control">
                <label for="contact-form-phone">Номер телефона</label>
            </div>
          </div>

          <div class="col-md-4">
            <button type="submit" class="w-100 btn btn-lg btn-light mb-3" style="height:57px;">Оставить заявку</button>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" required>
              <label class="form-check-label text-start text-light" for="exampleCheck1" style="font-size:12px;">Я ознакомился с <a href="/policy" target="_blank" class="link-light">политикой в отношении обработки персональных данных </a> и даю своё согласие на <a href="/policy" target="_blank" class="link-light">обработку  персональных данных.</a></label>
            </div>
          </div>
        </div>
    </form>
    <div class="text-white"></div>
    <div id="action_timer" class="">
      <h1 class="text-white text-center mb-0 me-4 mt-2 d-none d-lg-block white-space-no" style="font-size:50px;">До окончания акции осталось</h1>
      <h1 class="text-white text-center mb-0 me-4 mt-2 d-none d-md-block d-lg-none white-space-no" style="font-size:45px;">До окончания акции осталось</h1>
      <h4 class="text-white text-center mb-0 me-4 mt-2 d-block d-md-none">До окончания акции осталось</h4>
      <div class="d-flex align-items-center justify-content-center">
        <ul class="countdown my-0">
          <li> <span class="days text-white fw-bold">00</span>
            <p class="days_ref mb-0">Дней</p>
          </li>
          <li class="seperator">&nbsp</li>
          <li> <span class="hours text-white fw-bold">00</span>
            <p class="hours_ref mb-0">часов</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes text-white fw-bold">00</span>
            <p class="minutes_ref mb-0">минут</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds text-white fw-bold">00</span>
            <p class="seconds_ref mb-0">секунд</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="contacts-block" class="section pt-4">
    <div class="container">
      <h2 class="text-start fw-bold mt-4 mb-4 pb-2"><span class="header-block">Контакты</span></h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column">
            <div class="d-xl-inline d-flex flex-column mb-xl-3">
              <a href="tel:+73952621868" class="text-hover-danger text-decoration-none text-dark fs-6 me-4 mb-4"><i class="fa fa-phone circle-block" aria-hidden="true"></i>8 (3952) 621-868</a>
              <a href="mailto:profograd@mail.ru" class="text-hover-danger text-decoration-none text-dark fs-6 mb-4"><i class="fa fa-envelope-o circle-block" aria-hidden="true"></i>profograd@mail.ru</a>
            </div>
            <div class="d-flex align-items-center">
              <i class="fa fa-clock-o circle-block me-2" aria-hidden="true"></i> <a class="text-decoration-none text-dark fs-6"> Режим работы: <br>  Пн-Пт 8:00-20:00</a>
            </div>
          </div>

          <div class="contact-form-block py-3">
            <h4 class="my-3 fw-bold">Остались вопросы?</h4>
            <div style="display:none" class="text-center my-5"><i class="fas fa-spinner fa-spin fa-3x"></i></div>
            <form class="contact-form " action="." method="POST">
              <div class="row">
                <div class="col-lg-4 form-floating mb-3">
                    <input type="text" name="name" id="contact-form-forum-name" required placeholder="Имя" class="form-control">
                    <label class="ps-4 font-14" for="contact-form-forum-name">Имя</label>
                </div>
                <div class="col-lg-4 form-floating mb-3">
                    <input type="text" name="phone" id="contact-form-forum-phone" required placeholder="89999999999" class="form-control">
                    <label class="ps-4 font-14" for="contact-form-forum-phone">Телефон</label>
                </div>
                <div class="col-lg-4 form-floating mb-3">
                    <input type="email" name="email" id="contact-form-forum-email" required placeholder="mail@mail.com" class="form-control">
                    <label class="ps-4 font-14" for="contact-form-forum-email">Адрес эл. почты</label>
                </div>

                <div class="col-lg-12 form-floating mb-3">
                    <textarea name="message" id="contact-forum-message" required placeholder="Оставьте свое сообщение здесь" class="textarea-shadow form-control" style="height: 150px;"></textarea>
                    <label class="ps-4 font-14" for="contact-forum-message">Сообщение</label>
                </div>
              </div>
              <input name="theme" type="hidden" value="Сообщение с сайта fence.profograd.ru">
              <button type="submit" class="btn btn-lg btn-secondary btn-shadow border-0 banner-text">Отправить</button>
              <div class="form-check mt-3">
                <input type="checkbox" class="form-check-input" required>
                <label class="form-check-label font-14" for="exampleCheck1" >Я ознакомился с <a href="/policy" target="_blank" class="text-dark">политикой в отношении обработки персональных данных </a> и даю своё согласие на <a href="/policy" target="_blank" class="text-dark">обработку  персональных данных.</a></label>
              </div>
            </form>
            <div class="text-dark"></div>
          </div>

        </div>
        <div class="col-lg-6">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afdc7a6ede691d3ce5946a9be0ba9f037c73c78f659c0b2c9d3c8aa64d5bc8962&amp;source=constructor" class="w-100 h-100" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</section> -->


{% endblock %}

{% block extra_footer %}
{% endblock %}
